/* Coolors Exported Palette - coolors.co/342627-02a84f-7ddf64-ffcb00-ff5e5b */

/* HSL */
$color1: hsla(356%, 16%, 18%, 1);
$color2: hsla(148%, 98%, 33%, 1);
$color3: hsla(108%, 66%, 63%, 1);
$color4: hsla(48%, 100%, 50%, 1);
$color5: hsla(1%, 100%, 68%, 1);

/* RGB */
$color1: rgba(52, 38, 39, 1);
$color2: rgba(2, 168, 79, 1);
$color3: rgba(125, 223, 100, 1);
$color4: rgba(255, 203, 0, 1);
$color5: rgba(255, 94, 91, 1);